.main-div{
  width: 100vw;
  height: 100vh;

}
.inner-div{
  background-color: goldenrod;
  height: 50%;
  width: 50%;
  position: absolute;
  top: 50%;  
  left: 50%; 
  transform: translate(-50%, -50%); 
  text-align: center;
  color: white;
}